@charset "UTF-8";
@import "../style/prefixer.less";

/* Flat UI overwrites */

.navbar {
    .border-radius(0);
    margin: 0;
    z-index: 1000;
    .navbar-toggle {
        margin: 0;
    }
    .center-logo {
        position: absolute;
        right: 48.5%;
    }
}