<!DOCTYPE html>
    <head>
      <title>Learning AngularJS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
        <script src="app.js" type="text/javascript"></script>
<!--        <script src="maincontroller.js" type="text/javascript"></script>-->
        <script src="drag.js" type="text/javascript"></script>
<!--        <link rel="stylesheet" type="text/css" href="style.css">-->
    </head>
    <body>

        <div ng-app="test">
            <div ng-controller="Ctrl2">
                <many-slides-presentation></many-slides-presentation>
            </div>
        </div>

        <!--
        <div id='content' ng-app='MyTutorialApp' ng-controller='MainController'>
            <div ng-repeat='slide in presentation.slides' class='slide'>
                <div ng-repeat='layer in slide.layers' class='layer'>
                    <div ng-repeat='item in layer.items' class='item'style='position: absolute;
                        height: {{item.height}}px;
                        width: {{item.width}}px;
                        -webkit-transform: translate3d(
                            {{item.location[0]}}px,
                            {{item.location[1]}}px,
                            {{item.layer}}px
                        );
                        background: {{item.style.background}};
                        border-radius: {{item.style.border_radius}}px'>
                    </div>
                    <div ng-repeat='item in layer.items' class='item-controls'>
                        <div>Width: <input type='text' ng-model='item.width' /></div>
                        <div>Height: <input type='text' ng-model='item.height' /></div>
                        <div>Left: <input type='text' ng-model='item.location[0]' /></div>
                        <div>Top: <input type='text' ng-model='item.location[1]' /></div>
                        <div>Layer: <input type='text' ng-model='item.layer' /></div>
                        <div>Color: <input type='text' ng-model='item.style.background' /></div>
                        <div>Border-Radius: <input type='text' ng-model='item.style.border_radius' /></div>
                    </div>
                </div>
            </div>
        </div>

-->
    </body>
</html>
