@charset "UTF-8";
@import "external-modules/prefixer.less";
/* many-slides colors */

@dark-background: #1e1e1e;
@medium-background: #2d2d30;
@light-background: #3e3e42;
@lighter-background: #686868;
@holo-blue: #33b5e5;

/* Flat UI colors */

// turquoise
@flat-turquoise: #1ABC9C;
@flat-green-sea: #16A085;

// green
@flat-emerald: #2ECC71;
@flat-nephritis: #27AE60;

// blue
@flat-peter-river: #3498DB;
@flat-belize-hole: #2980B9;

// purple
@flat-amethyst: #9B59B6;
@flat-wisteria: #8E44AD;

// black
@flat-wet-asphalt: #34495E;
@flat-midnight-blue: #2C3E50;

// yellow
@flat-sun-flower: #F1C40F;
@flat-orange: #F39C12;

// orange
@flat-carrot: #E67E22;
@flat-pumkin: #D35400;

// red
@flat-alizarin: #E74C3C;
@flat-pomgrenade: #C0392B;

// white
@flat-clouds: #ECF0F1;
@flat-silver: #BDC3C7;

// grey
@flat-concrete: #95A5A6;
@flat-asbestos: #7F8C8D;

* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #e5e5e5;
}

#presentation {
	position: relative; 
    top: 50%; 
    .transform(translateY(-50%));
	margin: 0 auto;
	height: 500px;
	width: 1000px;
	background: #fff;
    border: 0.1rem solid #d8d8d8;
    border-bottom-width: 0.2rem;
    z-index: 0;
    zoom: 1.0;
}

.slide {
    position: relative;
    .transform-style(preserve-3d);
}

.item {
    .transition(width 100ms, height 100ms, background 100ms);
}

.slide-controls {
    
    a { border-radius: 0; }
    
    .slide-preview {
        display: inline-block;
        height: 9rem;
        width: 16rem;
        background: white;
        border: 0.1rem solid #d8d8d8;
        border-bottom-width: 0.2rem;
        .border-radius(0.5rem);
    }
    
    .delete-slide-button {
        position: absolute;
        top: 50%;
        .transform(translateY(-50%));
        margin: 0 auto;
        height: 3rem;
        width: 3rem;
        .border-radius(100rem);
        right: 2.5rem;
        border-left: 0.6rem solid transparent;
        &:hover {
            background: #FFF;
            border-left: 0.6rem solid #FFF;
        }
    }   
}

.item-controls {
    padding: 10px;
    div {
        width: auto;
        overflow: hidden;
        margin: 10px 0px;
    }
}

.item-wrapper {
	width: 0;
	height: 0;
}

/* Stateful classes */

.selected-object {
    outline: 0.25em dashed #7777ff;
}

/* Bootstrap overwrites */

.col-gutter-none {
    padding-left: 0; 
    padding-right: 0;
}

/* Flat UI overwrites */

.navbar {
    .border-radius(0);
    margin: 0;
    z-index: 1000;
    .navbar-toggle {
        margin: 0;
    }
}

input[type="text"] {
    border: none;
}

.form-control:focus {
    border: 2px solid #1abc9c;
    outline: 0;
    .box-shadow(none);
}
/*
.close-button {
	position: absolute;
	right: 10px;
	z-index: 1001;
}*/


/* Sliding Menues */

::-webkit-input-placeholder {
    color: @lighter-background;
}

*::selection {
    background: @holo-blue;
}

@header-height: 5rem;
@header-border-thickness: 0.2rem;
#settings-button {
    float: right;
    padding-right: 1.5rem;
}

#actions-button {
    float: left;
    padding-left: 1.5rem;
}

#settings-button, #actions-button {
    display: inline-block;
}

button {
    background: none;
    border: none;
    font-family: inherit;
}

.sidebar-left,
.sidebar-right {
    height: 100%;
    background: #edeff1;
    width: 25rem;
    position: fixed;
    padding-top: (@header-height + @header-border-thickness);
    top: 0;
    z-index: 1;
    border: 0.1rem solid #d8d8d8;
    border-bottom-width: 0.2rem;

    .wrapper {
        padding: 1rem;
        .transition(background 500ms, padding 500ms);
        z-index: 2;
        position:relative;
        display: flex;

        &:hover {
            background: #1abc9c;
            z-index: 1;
            padding: 1rem 1rem 1rem 2rem;
        }

    }
}

.sidebar-right {
    right: 0rem;
    .transition(right 500ms);
    &.sidebar-gone {
        right: -23.9rem;
    }
}

.sidebar-left {
    left: 0;
    .transition(left 500ms);
    &.sidebar-gone {
        left: -24.9rem;
    }
}