@charset "UTF-8";
@import "external-modules/prefixer.less";

/* many-slides colors */

@holo-blue: #33B5E5;
@body-background: #E5E5E5;

/* Flat UI colors */

// turquoise
@flat-turquoise: #1ABC9C;
@flat-turquoise-hover: #48c9b0;
@flat-green-sea: #16A085;

// green
@flat-emerald: #2ECC71;
@flat-nephritis: #27AE60;

// blue
@flat-peter-river: #3498DB;
@flat-belize-hole: #2980B9;

// purple
@flat-amethyst: #9B59B6;
@flat-wisteria: #8E44AD;

// black
@flat-wet-asphalt: #34495E;
@flat-midnight-blue: #2C3E50;

// yellow
@flat-sun-flower: #F1C40F;
@flat-orange: #F39C12;

// orange
@flat-carrot: #E67E22;
@flat-pumkin: #D35400;

// red
@flat-alizarin: #E74C3C;
@flat-pomgrenade: #C0392B;

// white
@flat-clouds: #ECF0F1;
@flat-silver: #BDC3C7;

// grey
@flat-concrete: #95A5A6;
@flat-asbestos: #7F8C8D;

/* many-slides parameters */
@default-border: 0.1rem solid #D8D8D8;
@border-bottom-width: 0.2rem;
@item-transition-duration: 100ms;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: @body-background;
}

#presentation {
	position: relative; 
    top: 50%; 
    .transform(translateY(-50%));
	margin: 0 auto;
	height: 500px;
	width: 1000px;
	background: white;
    border: @default-border;
    border-bottom-width: @border-bottom-width;
    z-index: 0;
    zoom: 1.0;
}

.slide {
    position: relative;
    .transform-style(preserve-3d);
}

/* Transition creates sluggish behavior with drag-resize
.item {
    .transition(width @item-transition-duration, 
                height @item-transition-duration, 
                background @item-transition-duration
    );
}*/

.slide-controls {
    
    a { .border-radius(0); }
    
    .slide-preview {
        display: inline-block;
        height: 9rem;
        width: 16rem;
        background: white;
        border: @default-border;
        border-bottom-width: @border-bottom-width;
        &.selected { border: 0.5rem solid @flat-turquoise; }
        .border-radius(0.5rem 0 0 0.5rem);
        font-size: 1.5rem;
        color: grey;
        z-index: 1;
    }
    
    .delete-slide-button {
        color: white;
        background: @flat-turquoise;
        width: 5rem;
        z-index: 0;
        .border-radius(0 0.5rem 0.5rem 0);
        line-height: 9rem;
        text-align: center;
        &:hover {
            background: @flat-turquoise-hover;
        }
    }   
}

.item-controls {
    a { .border-radius(0); }
    
    padding: 0.5rem;
    .form-group {
        width: auto;
        margin: 1rem 0;
        font-size: 1.5rem;
    }
}

.item-wrapper {
	width: 0;
	height: 0;
}

.icon-circle {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    background: @flat-turquoise;
    .border-radius(100%);
    border: none;
}

.icon-square {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    background: @flat-turquoise;
    .border-radius(15%);
    border: none;
}

.icon-rectangle {
    height: 1.0rem;
    width: 1.5rem;
    margin-right: 1rem;
    background: @flat-turquoise;
    .border-radius(15%);
    border: none;
}

/* Stateful classes */

.selected-object {
    outline: 0.6rem dashed @flat-peter-river;
    @corner-size: 3rem;
    .item-corner {
        width: @corner-size;
        height: @corner-size;
        position: absolute;
        background: @flat-peter-river;
        .border-radius(100%);
    }
    .corner-top-left {
        top: -@corner-size/2;
        left: -@corner-size/2;
    }
    .corner-bottom-left {
        bottom: -@corner-size/2;
        left: -@corner-size/2;
    }
    .corner-bottom-right {
        bottom: -@corner-size/2;
        right: -@corner-size/2;
    }
    .corner-top-right {
        top: -@corner-size/2;
        right: -@corner-size/2;
    }
}

/* Bootstrap overwrites */

.col-gutter-none {
    padding-left: 0; 
    padding-right: 0;
}

/* "Soft" Bootstrap overwrites */
.sidebar-right .panel-body {
    background: @flat-clouds;
    padding: 0.5rem;
}

.sidebar-right .panel-group {
    margin-bottom: 0.5rem;
    border: none;
}

.sidebar-right .panel-group .panel {
    border: none;
}

/* Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.). But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly. */
.nav,
.pagination,
.carousel,
.panel-title a 
{ cursor: pointer; }

/* Flat UI overwrites */

.navbar {
    .border-radius(0);
    margin: 0;
    z-index: 1000;
    .navbar-toggle {
        margin: 0;
    }
    .center-logo {
        position: absolute;
        right: 48.5%;
    }
}

input[type="text"] {
    border: none;
}

.form-control:focus {
    border: 2px solid @flat-turquoise;
    outline: 0;
    .box-shadow(none);
}

/*
.close-button {
	position: absolute;
	right: 10px;
	z-index: 1001;
}*/


/* Sliding Menues */

*::selection {
    background: @holo-blue;
}

@header-height: 5rem;
@header-border-thickness: 0.2rem;

#item-controls-button {
    color: white;
    font-size: 2.5rem;
    padding-top: 0.5rem;
    line-height: inherit;
    padding-right: 1.5rem;
    &:hover {    color: @flat-turquoise; }
    &.inactive { color: transparent; }
}

#slide-controls-button {
    display: inline-block;
    padding-left: 1.5rem;
}

button {
    background: none;
    border: none;
    font-family: inherit;
}

.sidebar-left,
.sidebar-right {
    height: 100%;
    background: @flat-clouds;
    width: 25rem;
    position: fixed;
    padding-top: (@header-height + @header-border-thickness);
    top: 0;
    z-index: 1;
    
    .slide-preview-wrapper {
        padding: 1rem;
        z-index: 2;
        position: relative;
        display: flex;
        .slide-preview {
            .transition(margin 500ms);
            margin-left: 0;
        }
        .slide-preview:hover {
            z-index: 1;
            margin-left: 1rem;
        }
        
    }
}

.overflow-wrapper {
    width: 25rem;
    margin-top: 88px;
    position: absolute;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    overflow: auto;
    top: 0;
    bottom: 0;
}

.sidebar-right {
    right: 0;
    border-left: @default-border;
    padding-left: 0;
    padding-right: 0;
    .transition(right 500ms);
    .overflow-wrapper { padding-top: 0.5rem; }
    &.sidebar-gone { right: -24.9rem; }
}

.sidebar-left {
    left: 0;
    border-right: @default-border;
    .transition(left 500ms);
    &.sidebar-gone { left: -24.9rem; }
}