<html ng-app="manySlidesEditor" ng-csp lang="en">
    <head>
        <meta charset="utf-8">
        <title>Many Slides Editor</title>
        <link rel="shortcut icon" href="../images/favicon.ico">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content="Description.">
        <meta name="author" content="Sebasian M. Reuter">
        
        <!-- bootstrapping -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="../style/flat-ui.css">
        
        <!-- custom styling -->
        <script sr="less_options.js"></script>
        <link rel="stylesheet/less" type="text/css" href="style/default.less" />
        <link rel="stylesheet" href="external-modules/colorpicker/colorpicker.css"/>
        <script src="../scripts/less/less.js"></script>
    </head>
    
    <!-- top menu -->
    <body ng-controller="contentController">
        <div class="col-xs-12 col-gutter-none">
            <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav navbar-left">
                        <li><slide-controls-button></slide-controls-button></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Item <b class="caret"></b></a>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="addItem('circle')">
                                    <span class="icon-circle caret"></span>Circle</a></li>
                                <li><a href="#" ng-click="addItem('square')">
                                    <span class="icon-square caret"></span>Square</a></li>
                                <li><a href="#" ng-click="addItem('rectangle')">
                                    <span class="icon-rectangle caret"></span>Rectangle</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="addItem('heading')">Heading</a></li>
                                <li><a href="#" ng-click="addItem('textbox')">Textbox</a></li>
                                <li><a href="#" ng-click="addItem('footer')">Footer</a></li>
                              </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="">Presentation</a></li>
                                <li><a href="#" ng-click="">Slide</a></li>
                                <li><a href="#" ng-click="showItemSettings();">Item</a></li>
                              </ul> 
                        </li>
                    </ul>
                    <ul class="nav navbar-nav center-logo">
                        <many-slides-logo logo-color="#fff" logo-size="53px"></many-slides-logo>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/Gambloide/many-slides" target="_blank">GitHub</a></li>
                        <li><span class="fui-new"></span></li>
                        <li><item-controls-button></item-controls-button></li>
                    </ul>
                </div>
            </nav>
        </div> 

        <slide-controlbar></slide-controlbar>
        <item-controlbar></item-controlbar>
        <presentation></presentation>
        
        <!-- Flat UI scripts -->
        <script src="../scripts/jquery/jquery.js"></script>
        <script src="../scripts/jquery/jquery-ui.js"></script>
        <script src="../scripts/jquery/jquery.ui.touch-punch.min.js"></script>
        <script src="../scripts/bootstrap/bootstrap.min.js"></script>
        <script src="../scripts/bootstrap/bootstrap-select.js"></script>
        <script src="../scripts/bootstrap/bootstrap-switch.js"></script>
        <script src="../scripts/flatui/flatui-checkbox.js"></script>
        <script src="../scripts/flatui/flatui-radio.js"></script>
        <script src="../scripts/jquery/jquery.placeholder.js"></script>
        <script src="../scripts/jquery/jquery.tagsinput.js"></script>

        <!-- Angular Main -->
        <script src="../scripts/angular/angular.js"></script>
        <script src="app.js"></script>
        <!-- External Angular Modules -->
        <script src="external-modules/colorpicker/bootstrap-colorpicker-module.js"></script>
        <script src="../scripts/bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- Angular Controllers -->
        <script src="controllers/contentController.js"></script>
        <!-- Angular Directives -->
        <script src="directives/slidesSidebarDirectives.js"></script>
        <script src="directives/presentationDirectives.js"></script>
        <script src="directives/itemSidebarDirectives.js"></script>
        <script src="directives/commonDirectives.js"></script>
        <!-- Angular Factories -->
        <script src="factories/presentationFactory.js"></script>
        
        <!-- Other scripts -->
        <script src="external-modules/prototype-extensions.js"></script>
        <script src="../scripts/underscore/underscore.min.js"></script>
        <script src="../scripts/bindonce/bindonce.min.js"></script>
    </body>
</html>