<html ng-app="manySlidesEditor" ng-csp lang="en">
    <head>
        <title>Many Slides Editor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content="Here you can create completely fresh or edit your existing presentations!">
        <meta name="author" content="Sebasian M. Reuter">
        <link rel="shortcut icon" href="../images/favicon.ico">
		<link rel="stylesheet" href="style/style.css"/>
    </head>
    
    <!-- top menu -->
    <body ng-controller="contentCtrl">
        <div class="col-xs-12 col-gutter-none">
            <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav navbar-left">
                        <li><masl-slide-controls-button></masl-slide-controls-button></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b class="caret"></b></a>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="loadFile()">Open</a></li>
                                <li><a href="#" ng-click="saveFile()">Save</a></li>
                                <li><a href="#" ng-click="saveFile()">Save as</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Item <b class="caret"></b></a>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="addItem('circle')">
                                    <span class="icon-circle caret"></span>Circle</a></li>
                                <li><a href="#" ng-click="addItem('square')">
                                    <span class="icon-square caret"></span>Square</a></li>
                                <li><a href="#" ng-click="addItem('rectangle')">
                                    <span class="icon-rectangle caret"></span>Rectangle</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="addItem('heading')">Heading</a></li>
                                <li><a href="#" ng-click="addItem('textbox')">Textbox</a></li>
                                <li><a href="#" ng-click="addItem('footer')">Footer</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="">Presentation</a></li>
                                <li><a href="#" ng-click="">Slide</a></li>
                                <li><a href="#" ng-click="showItemSettings();">Item</a></li>
                            </ul> 
                        </li>
                    </ul>
                    <ul class="nav navbar-nav center-logo">
                        <masl-logo logo-color="#fff" logo-size="53px"></masl-logo>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="fui-new"></span></li>
                        <li><masl-item-controls-button></masl-item-controls-button></li>
                    </ul>
                </div>
            </nav>
        </div> 
        
        <masl-slide-controlbar></masl-slide-controlbar>
        <masl-item-controlbar></masl-item-controlbar>
        <masl-presentation></masl-presentation>
		
		<masl-footer></masl-footer>
		<footer><div class="col-xs-12 col-gutter-none">
            <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav navbar-left" ng-model="fileStatus">
						<li><a href="#">{{fileStatus}}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-controller="modalCtrl"><a href="#" ng-click="open('lg')">About</a></li>
                    </ul>
                </div>
            </nav></footer>
        
        <!-- Flat UI scripts -->
        <script src="../scripts/jquery/jquery.js"></script>
        <script src="../scripts/jquery/jquery-ui.js"></script>
        <script src="../scripts/jquery/jquery.ui.touch-punch.min.js"></script>
        <script src="../scripts/bootstrap/bootstrap.min.js"></script>
        <script src="../scripts/bootstrap/bootstrap-select.js"></script>
        <script src="../scripts/bootstrap/bootstrap-switch.js"></script>
        <script src="../scripts/flatui/flatui-checkbox.js"></script>
        <script src="../scripts/flatui/flatui-radio.js"></script>
        <script src="../scripts/jquery/jquery.placeholder.js"></script>
        <script src="../scripts/jquery/jquery.tagsinput.js"></script>

        <!-- Angular Main -->
        <script src="../scripts/angular/angular.js"></script>
        <script src="app.js"></script>
        <!-- External Angular Modules -->
        <script src="external-modules/colorpicker/bootstrap-colorpicker-module.js"></script>
        <script src="../scripts/angular-ui-bootstrap/ui-bootstrap-custom-tpls.js"></script>
        <!-- Angular Controllers -->
        <script src="controllers/contentController.js"></script>
        <script src="controllers/modalController.js"></script>
        <script src="controllers/accordionController.js"></script>
        <!-- Angular Directives -->
        <script src="directives/slidesSidebarDirectives.js"></script>
        <script src="directives/presentationDirectives.js"></script>
        <script src="directives/itemSidebarDirectives.js"></script>
        <script src="directives/commonDirectives.js"></script>
        <!-- Angular Factories -->
        <!-- temporary empty until proper usage of factories/services
			 using async data sources is found and implemented
			 Idea: promises -->
        
        <!-- Other scripts -->
        <script src="external-modules/prototype-extensions.js"></script>
        <script src="../scripts/underscore/underscore.min.js"></script>
        <script src="../scripts/bindonce/bindonce.min.js"></script>
    </body>
</html>