@charset "UTF-8";

@dark-background: #1e1e1e;
@medium-background: #2d2d30;
@light-background: #3e3e42;
@lighter-background: #686868;
@holo-blue: #33b5e5;

@font-face {
    font-family: DroidSans;
    src: url('DroidSans.ttf');
}

::-webkit-input-placeholder {
   color: @lighter-background;
}

*::selection {
    background: @holo-blue;
}

* {
    margin: 0;
    padding: 0;
}

html{
  height: 100%;
}

body {
    height: 100%;
    background: @dark-background;
    color: #fff;
    font-family: DroidSans, sans-serif;
    overflow: visible;
    position: relative;
}

@header-height: 5rem;
@header-border-thickness: 0.2rem;
header {
    background: @medium-background;
    background: #2d2d30;
    height: @header-height;
    width: 100%;
    z-index: 2;
    position: fixed;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    border-bottom: solid @header-border-thickness @holo-blue;
    text-align: center;
    
    #settings-button {
        float: right;
        padding-right: 1.5rem;
    }

    #actions-button {
        float: left;
        padding-left: 1.5rem;
    }

    #settings-button, #actions-button {
        display: inline-block;
        padding: 1.25rem;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
        background: url(cog.png);
        background-size: 2.5rem;
        border: none;
        font-family: inherit;
    }
}

#settings-button {
        float: right;
        padding-right: 1.5rem;
    }

    #actions-button {
        float: left;
        padding-left: 1.5rem;
    }

    #settings-button, #actions-button {
        display: inline-block;
        padding: 1.25rem;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
        background: url(cog.png);
        background-size: 2.5rem;
        border: none;
        font-family: inherit;
    }

#sidebar-left,
#sidebar-right {
    height: 100%;
    background: @light-background;
    width: 15rem;
    position: fixed;
    padding-top: (@header-height + @header-border-thickness);
    top: 0;
    z-index: 1;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);

    .item {
        padding: 1rem;
        -webkit-transition: background 500ms, padding 500ms;
        border-bottom: solid 0.1rem #353535;
        z-index: 2;
        position:relative;

        &:hover {
            background: @holo-blue;
            z-index: 1;
            box-shadow: inset 0 -0.1rem 2rem 0.4rem rgba(0, 0, 0, 0.3);
            padding: 1rem 1rem 1rem 2rem;
        }

    }
}

#sidebar-right {
    right: 0;
    transition: right 500ms;
    &.hidden {
        right: -14.9rem;
    }
}

#sidebar-left {
    left: 0;
    -webkit-transition: left 500ms;
    &.hidden {
        left: -14.9rem;
    }
}

#content-host {
    overflow-y: auto;
    height: 100%;
    overflow: auto;

    .thumb {
        margin: 0.65rem;
        height: 40rem; 
        border-radius: 0.5rem;
    }
}

#small {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 0;
}

#big {
    margin-top: 5.2rem;
}

span {
    display: inline-block;
}