@base: #FFFFFF;

body, html
{
//  height: 100%;
//  min-height: 100%;
  background-color: @base;
}

footer
{
  text-align:center;
  padding-top:3em;
  padding-bottom:3em;
  position:relative;
}
// Message Design
.message
{
  font-size: 3rem;
}
.peer
{
  color: #FF7500;
  &:extend(.message);
}
.you
{
  color: #0C6BA1;
  &:extend(.message);
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-size: 15px;
}
#messages
{
  border: 20rem #0000ff;
  height: 60%;
}
#peers
{
  height: 40%;
}
#wrapper
{
  width:auto;
  border: 1px solid black;
  overflow: hidden;
  height: 100%;
  position:relative;
}

#chatWindow
{
  float: left;
//  width: 40%;
  height: 100% - 9rem;
  border: 2px solid #2ECC71;
  border-radius: 6px;
  box-shadow: none;
  color: #34495E;
  line-height: 1.467;
  padding: 8px 12px;
//  position:relative;
}

#actions
{
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
}

// Intro Design
#introForm
{
  height:100%;
  width:90%;
  text-align: center;
  margin: 10% auto;
}
.introFormTextBox
{
  height:auto;
  margin: 0.5em;
}
.introFormButton
{
  height:auto;
  width: 13.5em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.headerPresentationTextBox
{
  height:auto;
  margin: 0.5em;
}
.headerPresentationButton
{
  height:auto;
  width: auto;
  margin-top: 0.2em;
  margin-left: auto;
  margin-right: auto;
  padding:0.3em;
}
.col-gutter-none
{
  padding-right: 0;
  padding-left: 0;
}
.navbar{
  border-radius: 0;
}
#pid
{
  color: #0C6BA1;
  font-weight: bold;
}