
body, html
{
    padding: 0;
    margin: 0;
    font-family: Arial;
    background-color: #eee;
    color: #444;
    font-size: 15px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

#chatWindow
{
    float: left;
    width: 40%;
    border: 1px solid red;
}
#presentationWindow
{
    border: 1px solid green;
    overflow: hidden;
}

.connection
{
    height: 250px;
    width: auto;
    overflow: scroll;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
}

    .connection div
    {
        margin: 5px 0;
    }

    .connection.active
    {
    width: auto;
    height: auto;
        border-color: #FF7500;
    }

h1
{
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 -10px 0 -10px;
    border-bottom: 1px solid #ccc;
    font-weight: 300;
}

.active h1 strong
{
    color: #FF7500;
}

.file, em
{
    color: #999;
    font-style: italic;
}

#wrap
{
    width: auto;
    height: auto;
    background-color: #ddd;
    border-width: 1px 0;
    border-color: #ccc;
    border-style: solid;
}

.clear
{
    clear: both;
}


.warning
{
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    font-weight: 300;
    border-width: 1px 0;
    border-color: #000;
    border-style: solid;
}

a
{
    color: #F2C777;
}

.filler
{
    display: block;
    padding: 10px;
}

#actions
{
    padding: 10px;
}

button, input
{
    font-size: 15px;
    font-family: Arial;
    border: 1px solid #ccc;
    border-right: 0;
    padding: 5px;
    background: #fff;
    margin: 0;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

    input:focus
    {
        outline: none;
    }

.button, button
{
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #ccc;
}

form
{
    display: inline-block;
}

#close
{
    background-color: #FF7500;
    border-color: #c15c06;
}

.important
{
    font-size: 15px;
    color: #F2C777;
    margin-bottom: 10px;
}
