#content {
    width : 500px;
    height: 300px;
    border: 1 px dotted black;
    margin: 30px auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
}

.item-controls {
    background: #eeeeee;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    float: right;
    width: 240px;
}

.item-controls div {
    width: auto;
    float: right;
    overflow: hidden;
    margin: 10px 0px;
}
